# Generated website directory
_site/

# Sass cache
.sass-cache/

# Jekyll cache & metadata
.jekyll-cache/
.jekyll-metadata

# articles graph metadata
_includes/articles_graph.json

# Obsidian config
.obsidian/
