<hr>
<div class="border" style="padding:1em;">
<time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{% if page.type != 'pages' %}
      Last updated: {{ page.last_modified_at | date: "%B %-d, %Y" }}
      {% endif %}
</time></div>

<div class="border" style="padding:1em;">
<a class="internal-link" href="https://viralpubliclicense.org">
VIRAL PUBLIC LICENSE<br>
Copyleft (ɔ) All Rights Reversed<a/>
</div>

<div class="footer-nav">
<a class="internal-link" href="#">↑ Return ↑</a>
</div>

