<div class="time">
<time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{% if page.type != 'pages' %}
      Last updated: {{ page.last_modified_at | date: "%B %-d, %Y" }}
      {% endif %}
</time></div>

<div class="footer-nav">
<a class="internal-link" href="#">↑ Return ↑</a>
</div>
<br>
<div class="license">
<license>
<a class="internal-link" href="https://viralpubliclicense.org">
VIRAL PUBLIC LICENSE<br>
Copyleft (ɔ) All Rights Reversed<a/>
</license>
</div>

<select class="bottomright themeselect" name="theme" id="theme">
      <option value="yotsuba">Yotsuba</option>
      <option value="yotsuba-b">Yotsuba B</option>
      <option value="Xcela">Xcela</option>
      <option value="Edith">Edith</option>
      <option value="Erowid">Erowid</option>
      <option value="Neogeo">Neogeo</option>
      <option value="Gemini">Gemini</option>
      <option value="Crayola">Crayola</option>
      <option value="Remilia">Remilia</option>
      <option value="Gwern">Gwern</option>
    </select>