user-pc is


Apps
- photo editor				gimp
- synthesizer				?
- music player				cmus
- text editor 				neovim

Web
- web browser				lynx; hardened-firefox with vimperator
- RSS/Atom Reader			?
- Publishing				Exocore
- Blogging					sub.Exocore
- Microblogging				Pleroma
- IRC						irssi; matrix.element


Utilities
- File explorer 			ranger/commander
- PDF Viewer
- Weather
- Time
- Downloads: Torrent		?
- Downloads: Usenet			?
- Password manager			pass
- Filehosting				Git
- Webarchiving 				Archivebox

Cloud
- Music Streaing			Navidrome
- 

https://github.com/agarrharr/awesome-cli-apps