/* ### Theme: Edith.Reisen ### */

/* === Base Settings === */

/* --- Body Colors --- */

$background: black;
$color-border: 1px solid white;
$border-radius: 0px;
$color-box-background: black;

/* --- Text Colors --- */
$color-text: white;
$color-subtext: white;
$color-code: pink;
$internal-links: orange;
$external-links: orange;
$invalid-links: red;
$color-primary: orange;
$color-secondary: blue;

/* --- Font Family --- */
$font-family-sans-serif: Arial, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$font-family-serif: serif;
$font-family-monospace: monospace;

/* === Body === */

body {
  box-sizing: content-box;
  font-family: $font-family-sans-serif;
  margin: 0 auto;
  line-height: 1.1em;
  padding: 4vh 6vw;
  overflow-x: hidden;
  color: $color-text;
  font-size: 1rem;
  max-width: 43em;
  background-color:$background;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 75vh;
  border-radius: $border-radius;
}

blockquote {
  padding: 1em;
  margin: 0;
  font-size: 1em;
  font-family: $font-family-serif;
    font-style: italic;
  background: $color-box-background;
}

ul {
  list-style-type: circle;
}

hr {
  margin:1.5em;
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1.4;
  padding-bottom: 0;
  font-size:1.15em;
  margin:1em;
  margin-left:0em;
}

.title-text { text-transform:uppercase; text-decoration:underline; text-align:center; font-weight:bold; margin:0em; line-height:0em;}

h1 {text-transform:uppercase; text-align:center;font-weight:bold; }
h2 {text-transform:uppercase;font-weight:normal; text-decoration:underline; text-align:left}
h3 {text-transform:none;font-weight:normal; text-decoration:underline;text-align:left}
h4 {text-transform:none;font-weight:normal; font-size:1em; text-align:left}

code {
  color: $color-code;
  font-family: $font-family-monospace;
  font-size: 1.1em;
}

*:focus {
  background: white !important;
  color: black !important;
}

/* -- Links -- */

a {
  color: $external-links;
  text-decoration:none;
  &:hover {
    text-decoration: underline;
    cursor: alias;
  }
  &.internal-link {
    color: $internal-links;
    font-weight:bold;
    cursor: pointer;
  }
}
.invalid-link, .invalid-link-brackets {
  color: $invalid-links;
  cursor: help;
}

.sidenote a, nav a {
    font-weight: normal !important;
}
nav a {
  color: blue !important;
}


/* === Page Formatting === */

.title {
  border: $color-border; padding: 2em;
  margin-bottom:1em;
}

nav {
 background-color: white;
 color: blue;
 font-weight: normal; 
 padding: 1em;
 margin: 1em 0 1em;
}

.border, .notes-entry-container {
border: $color-border; padding: 2em;
   @media (max-width: 700px) {
    border:none;
    padding:none;
    margin:1em;
  }
}

/* -- Interlinks -- */

.graph {
  border: $color-border; padding: 2em;
  margin:2em; line-height: 1.1em;
}

.graph h1 {
  margin:1em;
}

.sidenote{
  max-width:28em; margin: 0 auto;
}
.sidenote h1{
  margin-bottom: 1em
}

.sidenote {
  background-color: $background;
  border: $color-border;
  padding: 1em;  
  padding-top:0em;
}

.backlink-box {
  background-color: $background;
  border: 1px solid orange;
  border-radius: 4px;
  padding:1em;
  line-height:1em;
}

.backnote-title {
  display: grid; grid-gap: 0.2em; grid-template-columns: repeat(1fr);
}
.backlinks-excerpt{
  font-size: 0.9em; color: $color-subtext;
}
.backlinks-none{
  font-size: 0.9em; text-align:center;
}
.content {
  margin:2em; line-height: 1.1em;
}
.note {
  border: $color-border;
  padding:1em; padding-top:0em; 
}
#note {
  margin:1em;
  margin-left:2em;
}

.note p {
  margin-left:1em;
}


/* Toggle Backlinks on Sidebar 
.notes-entry-container {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    "content"
    "side";
  @media (min-width: 700px) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content side";
  }
}
*/



/* -- Footer -- */ 

time {
  border: $color-border; padding: 1em;

  display: block;
  font-family: $font-family-monospace;
  color: $color-subtext;
  text-transform: uppercase;
  font-size:1.2em;
  text-align:center;
}

.time {
  padding:1em; margin-top:1em;
}

.footer-nav {
  margin:1em;
  font-size: 0.8em;
  color: $color-text;
  text-align:center;
}

license {
  text-align: center;
  font-family: $font-family-monospace;
  font: 1.1em;
}

.license {
  padding:1em; margin-top:1em; max-width: 28em; margin: 0 auto; text-align:center;
}

