$color-primary: orange;
$color-text: white;
$color-subtext: white;
$color-border: 1px solid white;
$border-radius: 0px;
$color-box-background: black;
$font-family: Arial, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

body {
  box-sizing: content-box;
  font-family: $font-family;
  margin: 0 auto;
  line-height: 1.1em;
  padding: 4vh 6vw;
  overflow-x: hidden;
  color: $color-text;
  font-size: 1rem;
  max-width: 43em;
  background-color:black;
}

nav {
 background-color:white;
 color:blue;
 font-weight:normal; 
 padding:1em;
 margin: 1em 0 1em;
}

#notes-entry-container, .border {
border: 1px solid white;
  padding: 2em;
   @media (max-width: 700px) {
    border:none;
    padding:none;
    margin:1em;
  }
}

graph{
  margin:0em;
}
time {
  display: block;
  color: $color-subtext;
  font-size:1.2em;
  text-align:center;
  font-family:monospace;
}


.footer-nav {
  margin:1em;
  font-size: 0.8em;
  color: $color-text;
  text-align:center;
}

license {text-align:center; margin:1em;}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 75vh;
  border-radius: $border-radius;
}

blockquote {
  padding: 1em;
  margin: 0;
  font-size: 1em;
  font-family: serif;
    font-style: italic;
  background: $color-box-background;
}

ul {
  list-style-type: circle;
}

hr {
  margin:1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size:1.1em;
}

h2 {margin-top:1em;}

title { text-transform:uppercase; text-decoration:underline; text-align:center; font-weight:bold;}
h1 {text-transform:uppercase; text-align:center;font-weight:bold;}
h2 {text-transform:uppercase;font-weight:bold; font-size:1em; margin:0em; text-align:center}
h3 {text-transform:none;font-weight:normal; font-size:1em; text-decoration:underline;text-align:center}
h4 {text-transform:none;font-weight:normal; font-size:1em; text-align:center}


a {
  color: yellow;
  text-decoration:none;
  &.internal-link{
    background-color:none;
  }
  &:hover {
    text-decoration:underline;
  }
  &.internal-link {
    color:orange;
  }
}
nav a {
  color:blue;
}

*:focus {
  background: white !important;
  color: black !important;
}

/*
#notes-entry-container {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    "content"
    "side";
  @media (min-width: 700px) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content side";
  }
}
*/

.sidenote {
  background-color:black;
  border: 1px solid white;
  padding: 1em;  
  padding-top:0em;
  max-with:38em;
}

.backlink-box {
  border: 1px solid orange;
  background-color: black;
  border-radius: 4px;
  padding:1em;
  line-height:1em;
}

code {
  color:slateblue;
  font-family:monospace;
}

.invalid-link {
  color: pink;
  cursor: help;
}

.invalid-link-brackets {
  color: pink;
  cursor: help;
}
