/* ### Theme: Yotsuba ### */

/* === Base Settings === */

/* --- Body Colors --- */

$background: #f0e0d6;
$color-border: 1px solid black;
$border-radius: 0px;
$color-box-background: black;

/* --- Text Colors --- */
$color-text: #800000;
$color-subtext: black;
$color-code: pink;
$internal-links: #34345c;
$external-links: red;
$invalid-links: $internal-links;
$color-primary: #cc1105;
$color-secondary: #117743;

/* --- Font Family --- */
$font-family-sans-serif: Helvetica, Arial, -apple-system, BlinkMacSystemFont, Segoe UI,  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$font-family-serif: serif;
$font-family-monospace: ”Iosevka Term SS03”,”IBM Plex Mono”,”Fira Code”,”Fira Mono”,”Roboto Mono”,”Droid Sans Mono”,Monaco,Consolas,Courier,monospace;;

/* === Body === */

body {
  background-color: black;
  background-image: url("/assets/bg.gif");
  background-repeat: repeat;
  box-sizing: content-box;
  font-family: $font-family-sans-serif;
  margin: 0 auto;
  line-height: 1.1em;
  padding: 4vh 6vw;
  overflow-x: hidden;
  color: $color-text;
  font-size: 1rem;
  max-width: 43em;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 75vh;
  border-radius: $border-radius;
}

blockquote {
  padding: 1em;
  margin: 0;
  font-size: 1em;
  font-family: $font-family-serif;
    font-style: italic;
  background: $color-box-background;
}

ul {
  list-style-type: circle;
}

hr {
  margin:1.5em;
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1.4;
  padding-bottom: 0;
  font-size:1.15em;
  margin:1em;
  margin-left:0em;
   text-align:left
}

.title-text { color:#cc1105; font-weight:bold; margin:0em; line-height:1em;}

h1 {color:#cc1105; font-weight:bold; }
h2 {color:#117743; font-weight:normal; font-weight:bold;}
h3 {color:#117743;font-weight:normal; text-decoration:underline;text-align:left; margin-left:1em;}
h4 {text-transform:none;font-weight:normal; font-size:1em; text-align:left}

code {
  color: white;
  background-color:blue;
  font-family: $font-family-monospace;
  font-size: 1.1em;
}

*:focus {
  background: white !important;
  color: black !important;
}

/* -- Links -- */

a {
  color: $external-links;
  text-decoration:none;
  &:hover {
    text-decoration: underline;
    cursor: alias;
  }
  &.internal-link {
    color: $internal-links;
    font-weight:bold;
    cursor: pointer;
  }
}
.invalid-link, .invalid-link-brackets {
  color: $invalid-links;
  cursor: help;
}

.sidenote a, nav a {
    font-weight: normal !important;
}
nav a {
  color: blue !important;
}
.anchor a {
  color: $color-text;
  cursor: pointer;
}
.anchor a:hover{
  color: $internal-links;
  cursor: pointer;
}

.toc-container a {
  cursor: pointer;
}

/* === Page Formatting === */

.title {
  border: $color-border; padding: 1em;
  margin-bottom:1em;
}

nav {
 background-color: white;
 color: blue;
 font-weight: normal; 
 padding: 1em;
 margin: 1em 0 1em;
}

.alignleft {
  float: left;
    text-align:left;
}
.alignright {
  float: right;
   text-align:right;
}

.border, .notes-entry-container {
  border: $color-border; 
  padding: 2em;
   @media (max-width: 700px) {
    border:none;
    padding:none;
  }
}

/* -- Interlinks -- */

.graph {
  border: $color-border; padding: 2em;
  margin:2em; line-height: 1.1em;
}

.graph-container {
  margin:1em;
}

.sidenote{
  max-width:28em; margin: 0 auto;
}
.sidenote h1{
  margin-bottom: 1em
}

.sidenote {
  background-color: $background;
  border: $color-border;
  padding: 1em;  
  padding-top:0em;
}

.backlink-box {
  background-color: $background;
  border: 1px solid orange;
  border-radius: 4px;
  padding:1em;
  line-height:1em;
}

.backnote-title {
  display: grid; grid-gap: 0.2em; grid-template-columns: repeat(1fr);
}
.backlinks-excerpt{
  font-size: 0.9em; color: $color-subtext;
}
.backlinks-none{
  font-size: 0.9em; text-align:center;
}

.note {
  border: $color-border;
  padding:1em; padding-top:0em; 
}
.content {
  margin-left:2em; 
  margin-right:1em; 
  line-height: 1.1em;
  padding-top:0.5em;

}
.content p {
  margin-left:1em;
}


/* Toggle Backlinks on Sidebar 
.notes-entry-container {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    "content"
    "side";
  @media (min-width: 700px) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content side";
  }
}
*/

/* Table of Contents */
.toc-container{
  border: $color-border; 
  padding: 1em;
  padding-bottom: 0em;
  margin: 1em;
  margin: 0 auto;
  display: block;
  max-width: 50%;
    @media (max-width: 700px) {
  max-width:100%;
  }
}
.toc-container h1 {
  margin:0em;
}

.toc-container ol li  {
  list-style-type: numeral;
}

.toc-container ol li li {
  list-style-type: lower-latin;
}



/* -- Footer -- */ 

time {
  border: $color-border; 
  padding: 1em;
  display: block;
  font-family: $font-family-monospace;
  color: $color-subtext;
  text-transform: uppercase;
  font-size:1.2em;
  text-align:center;
}

.time {
  margin-top:1.5em;
}

.footer-nav {
  margin:1em;
  font-size: 0.8em;
  color: $color-text;
  text-align:center;
}

license {
  text-align: center;
  font-family: $font-family-monospace;
  font: 1.1em;
}

.license {
  padding:1em; margin-top:1em; max-width: 28em; margin: 0 auto; text-align:center;
}

