---
layout: default
---

<article>
 <div class="border border-title" style="padding:1em; padding-bottom:0em; padding-top:1em; border:1px solid white; margin-bottom:1em">
    <h1 class="title">{{ page.title }}</h1>
  </div>

 <div id="border border-note" style="padding:1em; border:1px solid white; ">
<content id="note" style="margin:2em; line-height: 1.1em;">
  {{ content }}
</content>
</div>

</article>

<hr>
<div class="border border-graph" style="padding-top:0.2em;  max-width:28em; margin: 0 auto; margin-top:1em;
">
<graph>
<h1 style="margin:1em;">Graph View:</h1>

{% include notes_graph.html %}

</graph></div>

